
@{
    var user = ViewBag.User as UserProfileViewModel;
}
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="/" class="navbar-brand logo">
                <img src="~/assets/images/medical.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="/" class="menu-logo">
                    <img src="~/Content/theme/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="has-submenu">
                    <a href="#">Bác Sĩ <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="Home" asp-action="DoctorList">Tìm Kiếm Bác Sĩ</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">Chuyên Khoa <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="Home" asp-action="ServiceList">Tìm Chuyên Khoa</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="aichatbox">Chẩn Đoán</a>
                </li>
            </ul>
        </div>
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="far fa-hospital"></i>
                </div>
                <div class="header-contact-detail">
                    <p class="contact-header">Contact</p>
                    <p class="contact-info-header"> +84 987367341</p>
                </div>
            </li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link header-login" asp-area="" asp-controller="Home" asp-action="Login">Đăng Nhập / Đăng Kí</a>
                </li>
            }
            else
            { if (user.Role == 3) {
                    <li><a asp-area="" asp-controller="Patient" asp-action="Profile" asp-route-id="@user.Id"><i class="fa fa-user" style="margin-right: 8px"> @user.PatientName</i></a></li>
                } else if (user.Role == 2)
                {
                    <li><a asp-area="" asp-controller="Doctor" asp-action="Profile" asp-route-id="@user.Id"><i class="fa fa-user" style="margin-right: 8px"> @user.DoctorName</i></a></li>
                } else if(user.Role == 1)
                {
                    <li><a asp-area="" asp-controller="Staff" asp-action="Profile" asp-route-id="@user.Id"><i class="fa fa-user" style="margin-right: 8px"> @user.StaffName</i></a></li>
                }
                <li>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        <i class="fa fa-sign-out" style="margin-right: 8px"></i> Đăng xuất
                    </a>
                </li>

                <!-- Form đăng xuất -->
                <form id="logout-form" action="@Url.Action("Logout", "Home")" method="POST" style="display: none;">
                    @Html.AntiForgeryToken()  <!-- Bảo vệ CSRF -->
                </form>
            }
        </ul>
    </nav>
</header>
<!-- End Header -->
