@{
    Layout = "_Layout";
    ViewBag.Title = "Appointment History";

    // Sample appointments data
    var appointments = new List<dynamic> {
        new { id = 1, name = "Trung Phan", specialty= " neurosurgeons", dateBooking = "23/12/04", time = "10am", status = "Upcoming" },
        new { id = 2, name = "Nguyen Van A", specialty = "Gastroenterologist", dateBooking = "23/12/04", time = "10am", status = "Finished" },
        new { id = 3, name = "Le Thi B", specialty = "Nephrologists", dateBooking = "23/12/04", time = "10am", status = "Finished" }
    };
}
@model IEnumerable<test2.Data.Order>

<div class="container mx-auto mt-10 p-5">
    <h2 class="text-2xl text-blue-500 font-bold mb-4">Appointment History</h2>


    <form class="flex items-center justify-center max-w-sm mx-auto mb-5">
        <button type="button" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white px-4 py-2 flex items-center bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm  text-center me-2 mb-2">
            <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4H1m3 4H1m3 4H1m3 4H1m6.071.286a3.429 3.429 0 1 1 6.858 0M4 1h12a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1Zm9 6.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
            </svg>
            <h1 class="px-1">@Model.Count()</h1>
            <h1> total</h1>

        </button>
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                    <a asp-area="" asp-controller="Patient" asp-action="AppointmentHistory" asp-route-status="" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Patient" asp-action="AppointmentHistory" asp-route-status="Pending" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Pending</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Patient" asp-action="AppointmentHistory" asp-route-status="Completed" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Completed</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Patient" asp-action="AppointmentHistory" asp-route-status="Canceled" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Canceled</a>
                </li>
            </ul>
        </div>
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2" />
                </svg>
            </div>
            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search name..." required />
        </div>
        <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            <span class="sr-only">Search</span>
        </button>
    </form>



    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name Doctor
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Image Doctor
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Specialty
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Date Booking
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @appointment.Option.DidNavigation.Name
                        </th>
                        <td class="px-6 py-4">
                            <img class="w-20 h-20 rounded" src="@appointment.Option.DidNavigation.DoctorImg" alt="Default avatar">
                        </td>
                        <td class="px-6 py-4">
                            @appointment.Option.DidNavigation.Specialty.SpecialtyName
                        </td>
                        <td class="px-6 py-4">
                            @appointment.DateOrder
                        </td>
                        <td class="px-6 py-4">
                            <span class="text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded
                                @(appointment.Status == "Pending" ? "bg-yellow-300 dark:bg-yellow-900 dark:text-yellow-300" : (appointment.Status == "Canceled" ? "bg-red-300 dark:bg-red-900 dark:text-red-300" : "bg-blue-300 dark:bg-blue-900 dark:text-blue-300" ) )">
                                @appointment.Status
                            </span>
                        </td>
                        <td class="px-6 py-4">
                            <a asp-controller="Patient" asp-action="AppointmentDetail" asp-route-oid="@appointment.Oid" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View Detail</a>
                        </td>

                        
                    </tr>
                }


            </tbody>

        </table>
        <div class="flex flex-row-reverse items-center">
            <button class="p-2">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                </svg>
            </button>
            <button class="p-2">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7" />
                </svg>
            </button>
            <div class="flex justify-center">
                <p class="text-center">Page 1 of 10</p>
            </div>


        </div>
    </div>

</div>